{{ brai_deploy_user }} ALL=(root) NOPASSWD: /usr/bin/caddy validate --config {{ brai_caddyfile }}
{{ brai_deploy_user }} ALL=(root) NOPASSWD: /bin/systemctl reload caddy
{{ brai_deploy_user }} ALL=(root) NOPASSWD: /srv/opt/brai-main-sync.sh *
{% for name, env in brai_envs.items() %}
{{ brai_deploy_user }} ALL=(root) NOPASSWD: /bin/systemctl restart {{ env.service }}
{% endfor %}
