{{ bright_os_deploy_user }} ALL=(root) NOPASSWD: /usr/bin/caddy validate --config {{ bright_os_caddyfile }}
{{ bright_os_deploy_user }} ALL=(root) NOPASSWD: /bin/systemctl reload caddy
{{ bright_os_deploy_user }} ALL=(root) NOPASSWD: /srv/opt/bright-os-main-sync.sh *
{% for name, env in bright_os_envs.items() %}
{{ bright_os_deploy_user }} ALL=(root) NOPASSWD: /bin/systemctl restart {{ env.service }}
{% endfor %}
